body {
    --bs-body-bg: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
.login-section{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
h1 {
    color: #17a2b8 !important;
}
input {
    background-color: transparent !important;
    color: #fff !important;
}
input::placeholder{
    color: #ffffff65 !important;
}
.form-control:focus {
    box-shadow: none !important;
}
.navbar-collapse {
    flex-grow: 0 !important;
}